.NavBar-content {
  background-color: bisque;
  display: flex;
  justify-content: space-between;
  /* border-radius: 1.1rem; */
}
.box-link {
  color: black;
}
.box-link:hover {
  color: #a9a9a9;
  text-decoration: underline;
}
.box-link:hover img {
  border-radius: 10%;
  background: rgba(169, 169, 169, 0.5);
}
.About-container {
  text-align: justify;
}
.box {
  font-size: 1.1rem;
  width: 30%; /* Adjust this as needed */
  padding: 20px;
  box-sizing: border-box;
}
.box-link {
  text-decoration: none;
  color: black;
}
.Products-container {
  display: flex;
  flex-wrap: wrap;
}
.Products {
  flex: 1 0 21%; /* explanation below */
  margin: 5px;
  height: 100px;
  background-color: blue;
}
.product-box-btn {
  background: transparent;
  border-radius: 0.5rem;
}
.product-box-btn:hover {
  background: #a9a9a9;
  transform: scale(1.01);
}
.product-box {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.product-box img {
  width: 400px;
  height: 300px;
}
.Products-container {
  width: 100%;
  height: auto;
}
.addToCartButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addToCartButton {
  padding: 5px;
  /* width: 50px; */
  background: transparent;
  border: none;
  /* border: 1px solid rgba(246, 207, 105, 0.5); */
  cursor: pointer;
  color: black;
}

.addToCartButton:hover {
  color: #a9a9a9;
  text-decoration: underline;
  /* border: 1px solid rgba(245, 232, 199, 0.5); */
}

.badge:after {
  content: attr(value);
  font-size: 12px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}
